html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("images/bubulles8.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bouton {
    width: 30px;
    height: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid #fff; */
    cursor: pointer;
    z-index: 2;
}

.bouton span {
    width: 100%;
    height: 4px;
    background-color: #fff;
}

nav {
    height: 30px;
    width: 30%;
    position: absolute;
    top: 20px;
    right: 20px;
    /* border: 1px solid #fff; */
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
    text-shadow: 2px 2px 4px #000;
}

nav a:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #e1b12c;
}

.header1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    height: 20%;
    width: 95%;
}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    height: 60%;
    width: 75%;
}

.nom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 95%;
    /* border: 1px solid #e84118; */
}

.titre {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 50%;
    width: 100%;
    /* border: 1px solid #fbc531; */
}

.titre h1 {
    font-family: 'Bangers', cursive;
    font-size: 5em;
    /* color: #dcdde1; */
    color: #e1b12c;
    letter-spacing: 4px;
    text-shadow: 3px 3px 4px #000;
    margin-bottom: 0;
}

.texte {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* border: 1px solid #4cd137; */
    height: 50%;
    width: 100%;
    border-radius: 10px;
}

.texte h3 {
    color: #dcdde1;
}

.liens {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.liens a {
    text-decoration: none;
    color: #fff;
    margin-top: 10px;
    margin-right: 20px;
    background: linear-gradient(60deg, #192a56, #273c75);
    padding: 10px;
    box-shadow: 4px 4px 4px #000;
    border-radius: 10px;
    width: 60px;
    text-align: center;
    font-weight: bold;
}

.png {
    width: 50%;
    height: 95%;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.png img {
    width: 100%;
    opacity: 1;
    transition-duration: 0.3s;
}

.header3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #fff; */
    height: 20%;
    width: 95%;
}

.menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 250px;
    height: 100vh;
    background: linear-gradient(-225deg, #192a56 30%, #273c75 70%);
    z-index: 1;
    box-shadow: 4px 0 4px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    transition-duration: 0.3s;
}

.menu-open {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background: linear-gradient(-225deg, #192a56 30%, #273c75 70%);
    z-index: 1;
    box-shadow: 4px 0 4px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    transition-duration: 0.3s;
}

.menu1 h2 {
    color: #e1b12c;
}

.menu2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu2 a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

.menu2 a:hover {
    font-weight: bold;
    color: #e1b12c;
}

#presentation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-225deg, #192a56 30%, #273c75 70%);
}

.presentation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    min-height: 300px;
    width: 90%;
    /* border: 1px solid #fff; */
}

.presentation-texte {
    width: 40%;
    height: 100%;
    /* border: 1px solid #e1b12c; */
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentation-texte h3 {
    font-family: 'Bangers', cursive;
    color: #e1b12c;
    font-size: 2em;
    letter-spacing: 2px;
}

.presentation-texte p {
    color: #dcdde1;
}

.presentation-texte a {
    text-decoration: none;
    color: #e1b12c;
}

#projets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(-225deg, rgba(25, 42, 86, 0.5) 30%, rgba(39, 60, 117, 0.6) 80%), url("images/bubulles15.jpg");
    background-size: cover;
    background-position: center;
}

.container-projets {
    /* border: 1px solid #fff; */
    width: 90%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projet {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-225deg, #192a56 30%, #273c75 70%);
    width: 95%;
    height: 20%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 4px 4px 4px #000;
}

.projet-texte {
    width: 50%;
}

.projet-texte h3 {
    font-family: 'Bangers', cursive;
    color: #e1b12c;
    font-size: 2em;
    letter-spacing: 2px;
}

.projet-texte p {
    color: #dcdde1;
}

.projet-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projet-image a {
    text-decoration: none;
    color: #dcdde1;
    background: linear-gradient(-225deg, #c23616 30%, #e84118 70%);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 4px #000;
}


@media screen and (max-width: 1290px) {
    nav {
        display: none;
    }
    
    .png {
        display: none;
    }

    .header2 {
        justify-content: center;
        align-items: center;
    }

    .nom {
        justify-content: center;
        align-items: center;
    }

    .titre {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .titre h1 {
        font-size: 4.5em;
        margin-bottom: 0;
        margin-top: 200px;
    }

    .texte {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .texte h3 {
        display: none;
    }

    .liens {
        justify-content: space-around;
        align-items: center;
        margin-top: -20px;
        width: 100%;
        padding: 5px;
    }

    .liens a {
        margin-left: 20px;
        margin-right: 20px;
        display: none;
    }

    .presentation1 {
        flex-direction: column;
    }

    .presentation-texte {
        width: 75%;
    }

    .presentation-texte h3 {
        font-size: 1.2em;
    }

    .presentation-image {
        width: 75%;
    }

    .presentation-image img {
        width: 85%;
    }

    .presentation-image p {
        text-align: justify;
    }

    .presentation2 {
        flex-direction: column;
    }

    .langages-logos {
        display: none;
    }

    .langages-texte {
        width: 75%;
    }

    .projet {
        flex-direction: column;
    }

    .projet-image a {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .projet-texte h3 {
        text-align: center;
        font-size: 1.5em;
    }

    .projet-texte p {
        text-align: center;
    }
}